<%- include('header.ejs') %>
<a href="/" class="link">Go Back</a>
<form action="" id='loginUser_form' onsubmit="userLogin()" method = "POST">
    <h5>Change User</h5>
    Name: <br><input type = "text" id="name" name="name"> <br>
    Password: <br><input type = "text" id="password" name="password"><br>
    <input type="submit" value="Login">
</form>
<%- include('footer.ejs') %>